@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

:root {
  font-family: "Titillium Web";
  font-size: medium;

  --color-white: #f1eff4;
  --color-purple: #e3d9f8;
  --color-black: #29225c;
  --color-red: #ed5252;

  --font-bold: 700;
  --font-medium: 600;
  --font-regular: 400;
  --font-light: 300;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../lib/assets/pattern.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--color-white);
  color: var(--color-black);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-red);
}
